section
{
    border: 1px solid black;
    background-color: lightblue;
    padding-top:50px;
    padding-right:30px;
    padding-bottom:50px;
    padding-Left:80px;
}

.section2
{
    border: 1px solid black;
    background-color: rgb(221, 173, 230);
    padding: 25px 50px 75px 100px;
}